body{
    font-family: 'Fredoka', sans-serif;
}

.links-top{ display: flex;}

.logo-top{padding-top: 2rem;}
.logo-top span{ top:5rem; }

/* Products description & menu*/

.products-information{
    display: flex;
}

.products-menu, .products-description{ flex:1; padding:6rem;}
.products-menu{ padding-right: 3rem;}
.products-description{ padding-left: 3rem; letter-spacing: 2px; line-height: 1.1;}

.products-description img{
    height:auto;
    width: 100%;
}

.products-menu{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "box1 box2" "box3 box3";
}

.products-menu table:first-child{ grid-area: box1;}
.products-menu table:nth-child(2){ grid-area: box2;}
.products-menu table:last-child{ grid-area: box3;}

table{
    border-collapse: collapse;
    background-color: var(--c-text);
}

table:first-child{ border-right: 4px solid var(--c-bonus);}

.products-title{ background: var(--c-bonus)}

tr, th{ padding:0.75rem;}

.product{display:flex; align-items: center; justify-content: space-between;}

/* Responsive */
@media screen and (max-width: 990px){
    .products-information{
        flex-direction: column;
    }
    .products-menu, .products-description{ padding:3rem;}
}